@import url('https://fonts.googleapis.com/css2?family=Amita&family=Saira+Semi+Condensed&display=swap');


* {

    margin: 0;
}

:root {

    --primary-color: #ff9f1c;
}

:root {
    --secondary-color: #000000
}

:root {
    --accent1-color: #2ec4b6
}

:root {
    --accent2-color: #000080
}

:root {
    --heading-font: 'Amita', serif
}

:root {
    --paragraph-font: 'Saira Semi Condensed', sans-serif
}

:root {
    --nav-background-color: #2ec4b6
}

:root {
    --nav-link-color: #000000
}

:root {
    --nav-hover-link-color: #000000
}

:root {
    --nav-hover-background-color: #000080
}

body {

    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
}


header {
    width: 100%;
    display: grid;
    
   
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    background-color: var(--primary-color);
    padding: 10px 0;

}

.nav {
    min-width: 30vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

nav>a {
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px;
    width: 5rem;
    padding: 0 20px;
    text-align: center;
    border: 2px solid #051a17;
    background-color: hsl(256, 79%, 43%);
    color: rgb(248, 247, 245);
}

nav > a:hover {
    background-color: hsl(256, 54%, 16%);
}


header>img {

    min-width: 150px;
}

body {
    font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

.hero {
    height: auto;
    margin: auto auto;
    text-align: center;
}

.hero>h1 {
    color: hsla(61, 90%, 45%, 0.788);
    font-size: 4.5em;
    background-color: hsl(256, 79%, 43%);
    
}

.hero>h2 {
    color: hsla(64, 78%, 42%, 0.733);
    font-size: 2.5em;
    background-color: hsl(256, 79%, 43%);
    padding: 0;
    margin-top: -40px;
    
}

.hero>img {
    width: 100%;
    height: 400px;
}

.firstgrid{
    display: grid;
    column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    background-color: aliceblue;
}

.innergrid>div>img {
    width: 300px;
}
.innergrid>div {
    text-align: center;
    padding: 20px 0;
}

#purpose{
    text-align: center;
    font-size: 2rem;
}

.innergrid>div>h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.innergrid>div>p{
    font-size: large;
    font-weight: 800;
}

.innergrid{
    grid-column: 2;
    grid-row: 1;
}

form {
    grid-column: 1;
    grid-row: 1;
    background-color: hsl(221, 43%, 67%);
    width: 25rem;
    height: fit-content;
    overflow: scroll;
    margin: 0 auto 200px;
    padding: 3em;
    display: grid;
    border: 2px solid hsl(220, 73%, 7%);
    border-radius: 1em;
    

}

fieldset {
    display: grid;
    row-gap: 0.5rem;
    margin-top: 1.2rem;
    padding: 1em;
    border: 3px solid hsl(240, 40%, 98%);

}

fieldset>legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.4em;
}

label,
input,
button
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

label {
    text-align: start;
    padding-right: 0.5em;
    padding-left: 1.5em;
}

input
{
    padding: 0.8em;
    font-size: 1.2em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;

}

button {
    max-width: 200px;
    padding: 1em;
    margin: 40px auto;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: hsl(219, 61%, 24%);
    color: #fff
}

aside{
    margin: 100px auto 80px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    padding: 40px;
}

aside>p{
    font-size: 1.4rem;
}

aside>p>a:hover {
    color: white;
}

#button{
    font-size: 1.6rem;
    font-weight: 900;
    background-color: #dfb322f5;
    border-radius: 5px;
    padding: 10px;
}

#button:hover{
    background-color: navy;
    
}
footer {
   
    background-color: hsl(256, 86%, 37%);
    padding: 50px 0;
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


a > img {
    max-width: 10%;
    min-width: 40px;
}

footer > div > p {
    padding-left: 20%;
    font-weight: 700;
    font-size: 25px;
}

.socialmedia {
    display: flex;
    max-width: 20%;
    justify-content: space-evenly;
}

